Repository in-toto/archivista: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w --list-different

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
'*.{json,md}':
  - prettier -w --list-different

chore: updated subtree scripts
  package.json
Due: prettier -w --list-different

chore: move subtrees to subtrees/ subfolder
  .prepushrc.yaml
  README.subtrees.md
  dev/Makefile
  dev/judge-platform.code-workspace
  dev/skaffold.yaml
  git-conventional-commits.yaml
Due: prettier -w --list-different

chore: upgrade kratos to v13.0 (#55)
  dev/k8s/kratos/deployment.yaml
Due: none

fix: tests fail if you run npm build instead of npm start before testing
  package-lock.json
  package.json
  web/jest.config.ts
Due: eslint --fix, prettier -w --list-different

feat: add goreleaser to publish releases and docker images
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

feat: add goreleaser to publish releases and docker images (#51)
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

chore(web): implement node workflow to github workflows
  .github/workflows/web.yml
Due: none

feat: implemented metadata webhook in kratos for updating tenant metadata
  dev/k8s/kratos/config-cm.yaml
  judge-api/cmd/server/cmd/serve.go
  judge-api/internal/auth/authprovider.go
Due: none

feat: upgrade kratos ui
  dev/k8s/kratos-selfservice-ui-node/deployment.yaml
Due: none

chore: updated conventional-commit to support subtree type
  .commitlintrc.yaml
  git-conventional-commits.yaml
Due: none

subtree(witness-run-action): onboarded the witness-run-action to the monorepo
  README.subtrees.md
  package.json
Due: prettier -w --list-different

chore: updated download-compress-witness.sh to support macos
  subtrees/witness-run-action/ci/download-compress-witness.sh
Due: none

chore: updated how we push subtrees to a smarter approach
  package.json
Due: prettier -w --list-different

chore: update go modules to resolve golang CVEs
  Dockerfile
  go.mod
  go.sum
Due: none

chore: update go modules to resolve golang CVEs (#52)
  Dockerfile
  go.mod
  go.sum
Due: none

fix: update goreleaser action to use go 1.21.x
  .github/workflows/release.yml
Due: none

fix: update goreleaser action to use go 1.20.x
  .github/workflows/release.yml
Due: none

fix: update goreleaser action to use go 1.20.x (#54)
  .github/workflows/release.yml
Due: none

feat(web): implemented RepoCard
  web/src/components/repo-card/RepoCard.stories.tsx
  web/src/components/repo-card/RepoCard.test.tsx
  web/src/components/repo-card/RepoCard.tsx
  web/src/components/repo-card/__mocks__/RepoCard.tsx
  web/src/components/repo-list/RepoList.tsx
Due: eslint --fix

chore(web): update the yo generators to work with monorepo OOTB
  package-lock.json
  package.json
  web/generators/generator-react-fc/generators/app/index.js
  web/generators/generator-react-fc/generators/app/templates/MyComponent.stories.tsx
  web/package.json
Due: eslint --fix, prettier -w --list-different

story: as a user, anytime I click on a git sha, I want to copy it the clipboard
  web/src/components/commit-link/CommitLink.stories.tsx
  web/src/components/commit-link/CommitLink.test.tsx
  web/src/components/commit-link/CommitLink.tsx
  web/src/components/timeline/timeline-desktop/TimelineDesktop.tsx
Due: eslint --fix

feat(web): implemented CommitLink component
  web/src/components/commit-link/CommitLink.stories.tsx
  web/src/components/commit-link/CommitLink.test.tsx
  web/src/components/commit-link/CommitLink.tsx
  web/src/components/commit-link/__mocks__/CommitLink.tsx
  web/src/components/timeline/timeline-desktop/TimelineDesktop.tsx
Due: eslint --fix

ops(go): implement go ci workflow to github workflows
  .github/workflows/go.yml
Due: none

subtree(witness): updated `run` docs to help users with generating attestations with npm
  subtrees/witness/docs/witness_run.md
Due: prettier -w --list-different

subtree(witness-run-action): updated docs to help users with generating attestations in monorepos
  subtrees/witness-run-action/README.md
Due: prettier -w --list-different

subtree(witness): updated `run` docs to help users with generating attestations in monorepos
  subtrees/witness/docs/witness_run.md
Due: prettier -w --list-different

ops: renamed web.yaml to node.yml
  .github/workflows/node.yml
Due: none

chore: dogfood the witness-run-action on the monorepo
  .github/workflows/web.yml
  package.json
Due: prettier -w --list-different

fix(archivista): update archivista's usage of updated go-witness function
  go.mod
  go.sum
  internal/metadatastorage/mysqlstore/mysql.go
Due: none

feat(monorepo): add go workspace file to monorepo
  go.work
  go.work.sum
Due: none

fix(monorepo): update witness-run-action version used
  .github/workflows/node.yml
Due: none

fix(archivista): update archivista's usage of updated go-witness function
  subtrees/archivista/go.mod
  subtrees/archivista/go.sum
  subtrees/archivista/internal/metadatastorage/mysqlstore/mysql.go
Due: none

chore(archivista): use logrus directly
  subtrees/archivista/cmd/archivista/main.go
  subtrees/archivista/go.mod
  subtrees/archivista/go.sum
  subtrees/archivista/internal/config/config.go
  subtrees/archivista/internal/config/config_test.go
  subtrees/archivista/internal/metadatastorage/mysqlstore/mysql.go
  subtrees/archivista/internal/server/server.go
Due: none

chore(archivista): use logrus directly
  cmd/archivista/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/metadatastorage/mysqlstore/mysql.go
  internal/server/server.go
Due: none

chore(judge-api): use logrus directly
  judge-api/cmd/server/cmd/serve.go
  judge-api/go.mod
  judge-api/go.sum
  judge-api/internal/auth/authprovider.go
  judge-api/internal/database/mysqlstore/mysql.go
Due: none
